// Mapa de colores generales:

$---color-pastel: #F0E5CF;
$---color-pastel2: #FFF5DA;
$---color-gris: #C8C6C6;
$---color-azul: #4B6587;

// Variables de breackpoint:

$breakpoint-xs: 580px;
$breakpoint-sm: 768px;
$breakpoint-md: 1100px;
$breakpoint-lg: 1160px;