// EACH

$lista-colores: red, blue, green, yellow;

@each $color in $lista-colores {
    .color-#{$color} {
        background-color: $color;
    }
}

// MAPAS

$redes: (
    twitter: #339be0,
    facebook: #081694,
    instagran: #ca1ba4,
)